	@font-face {font-family: "Font4";src: url("https://raw.githubusercontent.com/DarkGamerYT/TestWeb/main/YT.woff") format("woff");}
	@font-face {font-family: "Font3";src: url("https://raw.githubusercontent.com/DarkGamerYT/TestWeb/main/YTMedium.woff") format("woff");}
	@font-face {font-family: "Font";src: url("https://raw.githubusercontent.com/DarkGamerYT/TestWeb/main/font.woff") format("woff");}
	@font-face {font-family: "Font2";src: url("https://raw.githubusercontent.com/DarkGamerYT/TestWeb/main/font2.woff") format("woff");}
